@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "JBM";
    src: url(".//fonts/JetBrainsMono-VariableFont_wght.ttf");
  }

body {
    font-family: "JBM";
    background-color: black;
}

